.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*max-height: 80vh; */
}

.hero img {
    width: auto;
    max-width: 100%;
    top: -12vh;
}

.white-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 15vh 0;
}


.site-video {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10vh 0;
}



.image-position {
    width: 100%;
    height: 100%;
}

.image-fit-cover {
    object-fit: cover;
    /*aviod img width or hight change*/
}

.video-position {
    position: absolute;
    top: 5%;
    left: 10.5%;
    width: 79%;
    height: 78%;
    z-index: 1;
}

.video-position_animation {
    position: absolute;
    top: 5%;
    left: 10.5%;
    width: 79%;
    height: 85%;
    z-index: 1;
}

.parallax-section {
    display: flex;
    align-items: center;
}

.parallax-1 img {
    top: 0;
    left: -2vw;
    width: 50vw;
}

.parallax-2 img {
    top: 190px;
    left: -20px;
    width: 30vw;
}

.parallax-3 p {
    top: 0;
    left: -1vw;
    width: 31vw;
    /*background-color: black;*/
}

.parallax-3-mix-9-10 p {
    top: 0;
    left: -1vw;
    width: 31vw;
    margin-bottom: 2vh;
}

.parallax-video-inner {
    align-items: center;
}

.parallax-4 {
    top: -20vh;
    left: 62%;
    width: 28vw;
    z-index: 99;
}

.parallax-5 img {
    top: 5vh;
    left: 30%;
    width: 30vw;
    z-index: 100;
}

.parallax-6 img {
    top: 0;
    left: 0;
    width: 50vw;
}

.parallax-7 img {
    top: 26vh;
    left: -160px;
    width: 30vw;
}

.parallax-8 img {
    top: 0;
    left: -4vw;
    width: 30vw;
}


.parallax-9 img {
    top: -36vh;
    left: 37vw;
    width: 55vw;
}

.parallax-10 img {
    top: 5vh;
    width: 30vw;
    z-index: 100;
}



.parallax-copy p {
    top: 0;
    left: -1vw;
    width: 30vw;
    /*background-color: black;*/
}


.bump {
    margin-top: -50vh;
    padding-top: 50vh;
    background-color: #212121;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    color: white;
}


.carousel-cell {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 100%;
    cursor: move;
}

.carousel-cell img {
    margin-right: 5vw;
    margin-left: 9vw;
    min-height: 100%;
    width: 50vw;
}

.carousel-cell-45vw {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 100%;
    cursor: move;
}

.carousel-cell-45vw img {
    margin-right: 8vw;
    margin-left: 8vw;
    min-height: 90%;
    width: 45vw;
}

.carousel .observed {
    animation: move 0;
    animation: move-left 1s forwards;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.team .col {
    padding: 2vw;
    padding-left: 0;
    width: 100%;
}

.team .col .spacing-copy {
    margin-bottom: 1vh;
}

.team .col .h5 {
    line-height: 18px;
}

.col-outer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-outer .col {
    padding: 2vw;
    padding-left: 0;
    width: 100%;
}

.col-outer .col .spacing-copy {
    margin-bottom: 1vh;
}

.col-outer .col .h5 {
    line-height: 18px;
}


.green-bar {
    background: linear-gradient(to right, #4AD215, #BBFC5C);
    background-size: 400% 400%;
    height: 20px;
    width: 100%;
    animation: gradient-loop 10s infinite;
}

.black {
    background-color: #272727;
    padding-bottom: 30vh;
    margin-bottom: -15vh;
}

@keyframes gradient-loop {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.svg_icon {
    width: 32%;
    display: block;
    margin: auto;
}




@media (min-width: 0px) and (max-width: 768px) {

    .parallax-section {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .parallax-1 img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-2 img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-3 p {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-3-mix-9-10 p {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-video-inner {
        display: -webkit-box;
        align-items: center;
    }

    .parallax-4 {
        top: -10vh;
        left: 20vw;
        width: 50vw;
        z-index: 98;
    }

    .parallax-5 img {
        top: 22%;
        left: -54vw;
        width: 42vw;
        z-index: 99;
        /*display: none;*/
    }

    .parallax-6 img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-7 img {
        top: -6vh;
        left: 14vw;
        width: 87%;
    }


    .parallax-8 img {
        padding: 0% 0% 0% 18%;
        width: 87%;
    }

    .parallax-9 img {
        top: -36vh;
        left: 37vw;
        width: 55vw;
    }

    .parallax-10 img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-copy p {
        top: 0;
        left: 0;
        width: 100%;
        margin: auto;
    }


    .team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team .col {
        padding: 3vh 7vw;
        padding-left: 0;
        width: 100%;
    }

    .team .col-copy {
        padding: 3vh 3vw;
        padding-left: 0;
        width: 100%;
    }

    .team .col-l-copy {
        padding: 1vh 1vw;
        padding-left: 0;
    }

    .team .col-r-copy {
        padding: 1vh 1vw;
        padding-left: 0;
    }

    .team .col .spacing-copy {
        margin-bottom: 1.1vh;
    }

    .col-outer .col {
        padding: 3vh 7vw;
        padding-left: 0;
        width: 100%;
    }

    .col-outer .col .spacing-copy {
        margin-bottom: 1.1vh;
    }

    .carousel-cell {
        display: flex;
        align-items: center;
        flex-direction: row;
        min-height: 100%;
        cursor: move;
    }

    .carousel-cell img {
        margin-right: 7vw;
        margin-left: 10vw;
        min-height: 100%;
        max-width: 100vw;
        width: 93vw;
    }

    .copy-width-col-copy-l-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-col-copy-r-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-large-col-copy-l-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-large-col-copy-l-copy img {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 50%;
    }

    .copy-width-large-col-copy-r-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-col-copy-l-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-col-copy-r-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .unit {
        margin-right: 0px;
    }

    .svg_icon {
        width: 21vw;
        display: block;
        margin: auto;
    }
}


body {
    background-color: #191b1c;
    color: #eaeaea;
}

/*
body, .body {
  font-family: "raleway","Merriweather", sans-serif;
  font-size: 14px;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.5px;
  line-height: 32px;
}
*/

/* -- Project Navigation -- */

#project-navigation {
    /*background-color: rgba(10,10,10, 0.5);*/
}

#contact-button {
    margin-right: 7vw;
    color: #e1e1e1;
}

/* -- Landing Colors -- */

.underlined:before {
    background-color: rgba(255, 255, 255, 0.2);
}

.underlined:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.selected:before {
    background-color: white;
}

/* -- Project Overview -- */


.project-intro {
    list-style: none;
    width: 100%;
    float: left;
}

.project-into-ul ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
    list-style-position: outside;
    margin-bottom: .75rem;
    padding-left: 20px;
    padding-top: 22px;
}

.project-into-ul li {
    width: 30%;
    margin-bottom: .25rem;
    line-height: 28px;
}

.project-into-ul h5 {
    line-height: 1px;
}

.project-into-ul p {}


.margin-colum-top {
    margin-top: 6px;
}


.project-into-ul ul {
    list-style-position: outside;
    color: #e1e1e1;
    margin-bottom: .75rem;
    padding-left: 0px;
    padding-top: 22px;
}








@media (min-width: 769px) and (max-width: 1399px) {


    .team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        /*align-items: baseline;*/
    }

    .team .col {
        padding: 2vh 2vw;
        padding-left: 0;
        width: 100%;
    }

    .team .col .spacing-copy {
        margin-bottom: 1vh;
    }

    .team .col-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 32vw;
    }

    .team .col-l-copy {
        padding: 4vh 1vw;
        padding-left: 0;
        width: 20vw;
    }

    .team .col-r-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 42vw;
    }

    .team .col-image {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 38vw;
    }

    .carousel-cell {
        display: flex;
        align-items: center;
        flex-direction: row;
        min-height: 100%;
        cursor: move;
    }

    .carousel-cell img {
        margin-right: 4.5vw;
        margin-left: 6.5vw;
        min-width: 40vw;
        max-width: 70vw;
    }

    .parallax-video-inner {
        display: flex;
        align-items: center;

    }

    .parallax-section {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .parallax-1 img {
        top: -13vh;
        left: -3vw;
        width: 36vw;
    }

    .parallax-2 img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .parallax-6 img {
        top: 0;
        left: -80;
        width: 42vw;
    }

    .parallax-7 img {
        top: 24vh;
        left: -80px;
        width: 26vw;
    }

    .parallax-3 p {
        top: 3vh;
        left: 3vw;
        width: 36vw;
        /* background-color: black; */
    }

    .parallax-3-mix-9-10 p {
        width: 62%;
        margin: auto;
        margin-bottom: 2vh;
    }

    .parallax-4 {
        top: -10vh;
        width: 30vw;
        z-index: 98;
        left: 60%;
    }

    .parallax-5 img {
        top: -8vh;
        left: -18%;
        width: 40vw;
        z-index: 99;
    }

    .parallax-8 img {
        top: 0;
        left: -2vw;
        width: 28vw;
        vertical-align: top;
        align-self: flex-start;
    }

    .parallax-copy p {
        top: 0vh;
        left: 2vw;
        width: 26vw;
    }

    .parallax-9 img {
        top: -21vh;
        left: 30vw;
        width: 39vw;
    }

    .parallax-10 img {
        top: 0vh;
        left: 0vw;
        width: 54vw;
        margin: auto;
    }


    .copy-width-col-copy-l-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 17vw;
        margin: 0 16px 0 0;
    }

    .copy-width-col-copy-r-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 40vw;
    }


    .copy-width-col-copy-l-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 21vw;
    }

    .copy-width-col-copy-r-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 21vw;
    }

    .copy-width-large-col-copy-l-copy {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 15vw;
    }

    .copy-width-large-col-copy-r-copy {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 44vw;
    }


}


@media (min-width: 768px) and (max-width: 1023px) {
    .copy-width-col-copy-l-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-col-copy-r-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 100%;
    }
}


@media (min-width: 1024px) and (max-width: 1399px) {
    .copy-width-col-copy-l-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 20vw;
    }

    .copy-width-col-copy-r-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 20vw;
    }

    .parallax-6 img {
        top: 0;
        left: 4vw;
        width: 38vw;
    }

    .parallax-7 img {
        top: 12vh;
        left: 2vw;
        width: 30vw;
    }

    .parallax-8 img {
        top: 0;
        left: -2vw;
        width: 28vw;
        vertical-align: top;
    }


    .parallax-3-mix-9-10 p {
        top: 0;
        left: 1vw;
        width: 26vw;
        margin-bottom: 2vh;
    }


    .parallax-9 img {
        left: 36vw;
        top: -1vh;
        width: 34vw;
    }

    .parallax-10 img {
        top: 0vh;
        left: 6vw;
        width: 39vw;
        margin: auto;
        z-index: 99;
    }

}




/* ----------- Exsiting Editing Screen----------- */
@media (min-width: 1399px) and (max-width: 1680px) {

    .team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        /*align-items: baseline;*/
    }

    .col-outer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team .col {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 49%;
    }

    .team .col-copy {
        padding: 3vh 1vw;
        padding-left: 1vw;
        padding-bottom: 1vh;
        width: 30vw;
    }

    .team .col-l-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 17vw;
    }

    .team .col-r-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 42vw;
    }

    .team .col-image {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 38vw;
    }

    .copy-width-col-copy-l-copy {
        padding: 1vh 0vw;
        padding-left: 0;
        width: 15vw;
    }

    .copy-width-col-copy-r-copy {
        padding: 1vh 0vw;
        padding-left: 0;
        width: 40vw;
    }

    .copy-width-large-col-copy-l-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 16vw;
    }


    .copy-width-large-col-copy-r-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 38vw;
    }

    .copy-width-col-copy-l-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 20vw;
    }

    .copy-width-col-copy-r-half {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 20vw;
    }



    .team .col .spacing-copy {
        margin-bottom: 1vh;
    }

    .parallax-video-inner {
        display: flex;
        align-items: center;
        max-height: 650px;
    }

    .parallax-4 {
        top: -10vh;
        width: 25vw;
        z-index: 98;
    }

    .parallax-5 img {
        top: -6vh;
        left: 4vw;
        width: 35vw;
        z-index: 99;
    }

    .parallax-8 img {
        top: 0vh;
        left: -2vw;
        width: 28vw;
        vertical-align: top;
    }

    .parallax-3 p {
        top: 0;
        left: 4vw;
        width: 31vw;
        /*background-color: black;*/
    }

    .parallax-3-mix-9-10 p {
        top: 0;
        left: 4vw;
        width: 29vw;
        margin-bottom: 2vh;
    }


    .parallax-copy p {
        top: 0vh;
        left: 3vw;
        width: 22vw;
    }

    .parallax-9 img {
        left: 34vw;
        top: -2vh;
        width: 36vw;
    }

    .parallax-10 img {
        top: -4vh;
        left: 4vw;
        width: 36vw;
        z-index: 99;
    }

}

/* ----------- End @media (min-width: 1399px) and (max-width: 1680px)----------- */




/* ----------- large than 1600px ----------- */
@media (min-width: 1679px) {

    .team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .col-outer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team .col {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 49%;
    }

    .team .col-copy {
        padding: 3vh 3vw;
        padding-left: 0;
        width: 30vw;
    }

    .team .col-l-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 17vw;
    }

    .team .col-r-copy {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 50vw;
    }

    .team .col-image {
        padding: 3vh 1vw;
        padding-left: 0;
        width: 38vw;
    }

    .team .col .spacing-copy {
        margin-bottom: 1vh;
    }

    .parallax-video-inner {
        display: flex;
        align-items: center;
        max-height: 650px;
    }

    .parallax-4 {
        top: -10vh;
        width: 25vw;
        z-index: 98;
    }

    .parallax-5 img {
        top: -6vh;
        left: 3vw;
        width: 35vw;
        z-index: 99;
    }

    .parallax-9 img {
        left: 34vw;
        top: -2vh;
        width: 36vw;
    }

    .parallax-10 img {
        top: -6vh;
        width: 35vw;
        z-index: 99;
    }

    .copy-width-col-copy-lr {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .copy-width-col-copy-l-copy {
        padding: 3vh 0vw;
        padding-left: 0;
        width: 15vw;
    }

    .copy-width-col-copy-r-copy {
        padding: 3vh 0vw;
        padding-left: 0;
        width: 40vw;
    }

    .copy-width-large-col-copy-lr {
        padding: 4vh 8vw;
        width: 78vw;
    }

    .copy-width-large-col-copy-l-copy {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 18vw;
    }


    .copy-width-large-col-copy-r-copy {
        padding: 2vh 0vw;
        padding-left: 0;
        width: 44vw;
    }

}



.full-width-umg-color {
    width: 100%;
    background-color: #191b1c;
}



/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}




/* Between for ipad pro */
@media (min-width: 768px) and (max-width: 1023px) {

    .copy-width-col-copy-l-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .copy-width-col-copy-r-copy {
        padding: 0vh 0vw;
        padding-left: 0;
        width: 100%;
    }

    .parallax-6 img {
        top: 0;
        left: 0;
        width: 38vw;
    }

    .parallax-7 img {
        top: 12vh;
        left: 2vw;
        width: 46vw;
        display: block;
        width: 30vw;
    }
}

.rollcase-color {
    color: #ff9000;
}

strong {
    color: #fff;
    font-weight: 500;
    padding: 0.2em 0.2em;
    background-color: #bc7f24;
    background-size: initial;
}