/* --- Boiler Shit --- */

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-variant-ligatures: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}


a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: gray;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

::selection {
  background: black; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: black; /* Gecko Browsers */
  color: white;
}

/* Animations */

.observable {
  opacity: 0;
  /* transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease; */
}

.observed {
  animation: move 1s forwards;
  /* opacity: 1; */
  /* transform: translateY(0px); */
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* --- Font Stuff --- */

body, .body {
  font-family: 'Raleway','Arimo', sans-serif;
  font-size: 14px;
  font-size: calc(13px + (15 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.5px;
  line-height: 30px;
  font-weight: 500;
}
/* Edit for rollcase */
h1, .h1 {
  font-size: 22px;
  font-size: calc(22px + (24 - 19) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(30px + (32 - 24) * ((100vw - 320px) / (2560 - 320)));
}
/* Exsiting useage
h1, .h1 {
  font-size: 20px;
  font-size: calc(20px + (23 - 18) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(32px + (42 - 30) * ((100vw - 320px) / (2560 - 320)));
}
*/

/*
h2, .h2 {
  font-size: 18px;
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: 20px;
}
*/

h2, .h2 {
  font-size: 12px;
  font-size: calc(13px + (14 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: 30px;
  color: #a8a8a8;
}


h3, .h3 {
  font-size: 16px;
  font-size: calc(14px + (18 - 16) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: 24px;
}

h4, .h4 {
  font-size: 12px;
  letter-spacing: 1.25px;
  line-height: 16px;
}

h5, .h5 {
  font-size: 24px;
  font-size: calc(26px + (27 - 22) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(36px + (44 - 38) * ((100vw - 320px) / (2560 - 320)));
}

/*
h5, .h5 {
  font-size: 14px;
  font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.5px;
  line-height: 14px;
}
*/

h6, .h6 {
  font-family: 'Raleway','Arimo', sans-serif;
  font-size: 18px;
  font-weight: 5800;
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: 30px;
}

.statement {
  font-size: 30px;
  font-size: calc(30px + (28 - 28) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(38px + (34 - 30) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 300;
}

.highlight-3 {
  font-size: 32px;
  font-size: calc(32px + (34 - 30) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(40px + (32 - 30) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 700;
}

.highlight {
  font-size: 92px;
  font-size: calc(92px + (84 - 80) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 0.25px;
  line-height: calc(92px + (90 - 86) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 200;
}

.highlight-2 {
  font-size: 78px;
  font-size: calc(78px + (72 - 66) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 0.25px;
  line-height: calc(86px + (50 - 50) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 200;
}



.highlight-4 {
  font-size: 16px;
  font-size: calc(16px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(28px + (24 - 20) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 500;
}

.highlight-5 {
  font-size: 16px;
  font-size: calc(16px + (18 - 13) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.3px;
  line-height: calc(30px + (30 - 26) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 500;
}


.statement-2 {
  font-size: 22px;
  font-size: calc(24px + (24 - 20) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(38px + (34 - 32) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 400;
}


.statement-3 {
  font-size: 19px;
  font-size: calc(20px + (20 - 18) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(33px + (31 - 29) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 500;
}


.statement-4 {
  font-size: 26px;
  font-size: calc(26px + (26 - 22) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(40px + (36 - 34) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 400;
}


.graytxt {
  font-size: 12px;
  font-size: calc(13px + (14 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: 22px;
  color: #a8a8a8;
}


.unit {
  font-size: 32px;
  font-size: calc(32px + (30 - 25) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.25px;
  line-height: calc(32px + (38 - 32) * ((100vw - 320px) / (2560 - 320)));
  color: #222222;
  font-weight: 200;
  padding-right: 3vw;
}

.largecopy {
  font-size: 28px;
  font-size: calc(24px + (24 - 20) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.55px;
  line-height: calc(38px + (34 - 30) * ((100vw - 320px) / (2560 - 320)));
  font-weight: 300;
}


.txtpoint {
  font-weight: 600;
}



.m-icons-position {
  font-size: 12px; 
  top: 2pt; 
  padding-right: -1pt;
  padding-left: 2pt;
  opacity: 0.6;
}



/* --- Underlines --- */

.selected {
	position: relative;
}

.selected:before {
  content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px;
	background-color: #181818;
}

.underlined {
  position: relative;
  z-index: 20;
}

.underlined:before {
  content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px;
	background-color: #e1e1e1;
}

.underlined:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #181818;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  transform-origin: 0% 0%
}

.underlined:hover:after {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0% 0%
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

ol {
  list-style-position: outside;
  padding-left: 18px; }

ul {
  list-style-position: outside;
  margin-bottom: .75rem;
  padding-left: 20px;
  padding-top: 12px; }

li {
  margin-bottom: 1.5rem;
  /*line-height: 2.2em; */
}

.copy-point {
  font-style: italic;
}


.text-span {
    font-family: 'Times New Roman', TimesNewRoman, Times, Georgia, serif;
    font-size: 54px;
    font-size: calc(52px + (55px - 50) * ((100vw - 320px) / (2560 - 320)));
    font-style: italic;
    font-weight: 400;
    letter-spacing: -4px;
}


/*
@font-face {
  font-family: 'Sometimes Times';
  src: url('../fonts/Sometimes Times.eot');
  src: url('../fonts/Sometimes Times.woff2') format('woff2'),
       url('../fonts/Sometimes Times.woff') format('woff'),
       url('../fonts/Sometimes Times.ttf') format('truetype'),
       url('../fonts/Sometimes Times.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/


.text-span-2 {
    font-family: 'Sometimes Times',sans-serif;
    font-size: 54px;
    font-size: calc(52px + (55px - 50) * ((100vw - 320px) / (2560 - 320)));
    font-style: italic;
    font-weight: 500;
    letter-spacing: -0px;
}


.text-span-3 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-size: calc(70px + (60px - 58) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 40pt;
}

.text-span-4 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-size: calc(26px + (24px - 20) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 40px;
}


.text-span-5 {
    font-family: 'Playfair Display', serif;
    font-size: 74px;
    font-size: calc(72px + (68px - 60) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -5px;
    line-height: 46pt;
}


a.loud {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

#jumpto {
  /*position: absolute;
  margin-bottom: 5vh;*/
  left: 0;
  opacity: .5;
}

#jumpto:hover {
  opacity: 1 !important; /* Needed to override JS */
}


.intro-line {
    width: 30px;
    height: 2px;
    margin-right: 16px;
    background-color: #aaa;

}

.div--label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.intro-line-text {
    position: static;
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}




.point-title {
    position: relative;
    padding: 50px 0 20px 20px;
    font-size: 78px;
    font-weight: 100;
    color: #dedede;
    text-transform: capitalize;
    letter-spacing: -1px;
}

.point-title span {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    z-index: -1;
}


