/* --- Landing Section --- */
@media (min-width: 769px) {
#name {
  top: 0;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

#msg {
  max-width: 72%;
  line-height: 8vh;
  top: 0;
  padding-top: 2vh;
  height: 34vh;
}

#info {
  cursor: pointer;
  width: 55%;
  opacity: 0.7;
  font-size: 14px;
  margin-top: 3vh;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 0 5% 5% 5%;
  overflow: hidden;
}

#snippet {
  width: 100%;
  top: 0;
}

#scroll-down {
  position: absolute;
  bottom: 6vh;
  left: 5%;
  opacity: .9;
}

#scroll-down:hover {
  opacity: 0.9 !important; /* Needed to override JS */
}

}



/* --- Hidden Buttons --- */

#social-button-1 {
  display: flex;
  position: absolute;
  left: 0;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}


#social-button-2 {
  display: flex;
  position: absolute;
  left: 0;
  padding-left: 80px;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}

#social-button-3 {
  display: flex;
  position: absolute;
  left: 0;
  padding-left: 200px;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}

.social-links {
  opacity: 0;
  visibility: hidden;
  padding-bottom: 1px;
  transform: translateY(20px);
  transition: all .5s;
  line-height: 15px;
}

.social-links-observed {
  visibility: visible;
  transform: translateY(0px);
  opacity: 0.5;
  transition: all .5s;
}

.social-links-observed:nth-child(2) {
  transition-delay: .1s;
}

.social-links-observed:nth-child(3) {
  transition-delay: .15s;
}

.social-links-margin {
  margin-right: 40px;
}

.social-links:hover {
   opacity: 1;
}

.text-span-6 {
    font-family: 'Playfair Display', serif;
    font-size: 74px;
    font-size: calc(74px + (62px - 58) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -3.5px;
    line-height: 34pt;
}




@media (min-width: 0px) and (max-width: 768px) {
  .landing {
    margin: 0;
    height: 68vh;
    overflow: hidden;
  }

  #scroll-down {
  position: absolute;
  bottom: 1%;
  left: 5%;
  opacity: .4;
  display: none;
  }

  #msg {
  width: 80%;
  padding-top: 4vh;
  height: 26vh;
  line-height: 2vh;
  }

  #info {
  position: relative;
  cursor: pointer;
  width: 70%;
  padding-top: 12vh;
  min-height: 8vh;
  }

  #name {
  width: 100%;
  padding-top: 5vh;
  }


  #snippet {
  position: relative;
  width: 100%;
  top: 0;
  padding-top: 3vh;
  height: 620px;
  overflow: hidden;
}

.text-span-6 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-size: calc(48px + (50px - 48) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -3.5px;
    line-height: 39pt;
}

#msg, .h6 {
  font-family: 'Raleway','Arimo', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1.3px;
  line-height: 24px;
}

.project-title .h6 {
  font-family: 'Raleway','Arimo', sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-size: calc(15px + (17 - 12) * ((100vw - 320px) / (2560 - 320)));
  letter-spacing: 1px;
  line-height: 28px;
}



}



@media (min-width: 770px) and (max-width: 1399px) {
  
#name {
  top: 0;
  width: 100%;
  padding-top: -13vh;

}