/* --- Landing Section --- */

#name {
  width: 100%;
  margin-bottom: 3vh;
}

#msg {
  width: 60%;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

#info {
  cursor: pointer;
  width: 55%;
  opacity: 0.8;
  font-size: 16px;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 0 5% 5% 5%;
  overflow-x: hidden;
}

#snippet {
  position: relative;
  width: 100%;
  top: 0;
}

#scroll-down {
  position: absolute;
  bottom: 5vh;
  left: 5%;
  opacity: .5;
}

#scroll-down:hover {
  opacity: 1 !important; /* Needed to override JS */
}




/* --- Hidden Buttons --- */

#social-button-1 {
  display: flex;
  position: absolute;
  left: 0;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}


#social-button-2 {
  display: flex;
  position: absolute;
  left: 0;
  padding-left: 80px;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}

#social-button-3 {
  display: flex;
  position: absolute;
  left: 0;
  padding-left: 200px;
  padding-top: 16px;
  opacity: 0;
  visibility: hidden;
}

.social-links {
  opacity: 0;
  visibility: hidden;
  padding-bottom: 1px;
  transform: translateY(20px);
  transition: all .5s;
  line-height: 15px;
}

.social-links-observed {
  visibility: visible;
  transform: translateY(0px);
  opacity: 0.5;
  transition: all .5s;
}

.social-links-observed:nth-child(2) {
  transition-delay: .1s;
}

.social-links-observed:nth-child(3) {
  transition-delay: .15s;
}

.social-links-margin {
  margin-right: 40px;
}

.social-links:hover {
   opacity: 1;
}


@media (max-width: 768px) {
  .landing {
    margin: 0;
    height: 76vh;
  }

  #scroll-down {
    /*display: none;*/
  }

  #msg {
  width: 100%;
  padding-top: 3vh;
  }

  #info {
  cursor: pointer;
  width: 70%;
  padding-top: 8%;
  }

  #name {
  width: 100%;
  margin-bottom: 3vh;
  }

  #snippet {
  position: relative;
  width: 100%;
  top: 0;
  padding-top: 18%;
}

.text-span-3 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-size: calc(64px + (60px - 56) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 800;
    letter-spacing: -5px;
    line-height: 52px;
}


}
