.body-width {
  padding: 0 7vw;
  margin: auto;
  width: 100%;
}

.body-width-small {
  width: 100%;
  padding: 0 15vw;
}

.body-width-medium {
  width: 100%;
  padding: 0 7vw;
}


.width-hero-video {
  width: 100%;
  padding: 0 20vw;
}

@media (max-width: 1200px) and (min-width: 979px) {
}

@media (max-width: 979px) and (min-width: 768px) {
}

@media (max-width: 767px) {
  .body-width-small {
    padding: 0 7vw;
  }
  .body-width-medium {
    padding: 0 2vw;
  }
  .width-hero-video {
  padding: 0 9vw;
  }
}


@media (min-width: 769px) and (max-width: 1399px) {
.width-hero-video {
  width: 100%;
  padding: 0 16vw;
}
}